* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    transition: .4s;
}

.container{
    width:100%;
    max-width:1200px;
    background: rgba(255,255,255,.15);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 30px;
}

header h1{
    color:#fff;
    font-size: 2rem;
}

.top-buttons{
    display: flex;
    gap:15px;
}

button{
    border:none;
    cursor:pointer;
    transition:.3s;
}

.top-buttons button,
#searchBtn,
#unitToggle{
    background: #fff;
    color: #333;
    padding: 12px 8px;
    border-radius: 10px;
    font-weight: 600;
}

.top-buttons button:hover,
#searchBtn:hover,
#unitToggle:hover{
    transform: translateY(-2px);
}

.search-box{
    display: flex;
    gap:15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

#cityInput{
    flex: 1;
    min-width: 220px;
    padding:14px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.weather-card{
    background: rgba(255,255,255,.2);
    border-radius: 20px;
    padding:25px;
    color:#fff;
    margin-bottom: 25px;
}

.weather-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon img{
    width:120px;
}

.temperature h2{
    font-size: 4rem;
}

.weather-info{
    margin-top: 20px;
}

.weather-info h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

.weather-info p{
    margin-bottom: 6px;
}

.details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
    margin-bottom: 30px;
}

.card{
    background: rgba(255,255,255,.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    transition: .3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card i {
    font-size: 30px;
    margin-bottom: 12px;
}

.card h4{
    margin-bottom: 10px;
}

.forecast h2,
.recent h2{
    color: #fff;
    margin-bottom: 20px;
}

.forecast-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    gap:20px;
    margin-bottom: 30px;
}

.forecast-card{
    background: rgba(255,255,255,.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

#recentList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}

#recentList li{
    background: #fff;
    color:#333;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

#recentList li:hover{
    background: #222;
    color:#fff;
}

.loader{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin:20px 0;
}

.hidden{
    display: none;
}

.error{
    background: #ff4d4d;
    color:#fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dark{
    background: linear-gradient(135deg,#141e30,#243b55);
}

.dark #cityInput{
    background: #222;
    color:#fff;
}

.dark .top-buttons button,
.dark #searchbtn,
.dark #unitToggle,
.dark #recentList li{
    background: #333;
    color:#fff;
}

@media(max-width:768px){

    header{
        flex-direction: column;
    }

    .weather-top{
        flex-direction: column;
        text-align: center;
    }

    .temperature h2{
        font-size: 3rem;
    }

    .search-box{
        flex-direction: column;
    }

    #searchBtn{
        width: 100%;
    }

    .top-buttons{
        width: 100%;
        justify-content: center;
    }
}